<ion-item *ngIf='showEditButton' >
    <ion-button id= 'openedit' (click)= 'openEdit()' >Open Quick Edit</ion-button>
</ion-item>


<ion-card *ngIf= "openEdit" >
    <ion-row>
        <ion-col>
        <ion-item>
            <ion-input name= 'L' [(ngModel)] = 'L' value= 'L' (change)= 'calcDimWt()' >
        </ion-item>
        </ion-col>
                <ion-col>
        <ion-item>
            <ion-input name= 'W' [(ngModel)] = 'W' value= 'W' (change)= 'calcDimWt()' >
        </ion-item>
        </ion-col>
                <ion-col>
        <ion-item>
            <ion-input name= 'H' [(ngModel)] = 'H' value= 'H' (change)= 'calcDimWt()' >
        </ion-item>
        </ion-col>
                <ion-col>
        <ion-item>
            <ion-input name= 'wt' [(ngModel)] = 'wt' value= 'wt' (change)= 'calcDimWt()' >
        </ion-item>
        </ion-col>
                <ion-col>
        <ion-item>
            <ion-input name= 'dimWt' [(ngModel)] = 'dimWt' value= 'dimWt' >
        </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-item>
            <ion-label>Description</ion-label>
            <ion-textarea [(ngModel)] = 'description' ></ion-textarea>
        </ion-item>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-button (click)= 'saveQuickEdit()'   >Save Changes</ion-button>
        </ion-col>
    </ion-row>


</ion-card>